<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DkShop</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600">
  <title>Document</title>
</head>
<body>
<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <form role="form" method="post" th:action="@{/sign/login}">
      <div class="sign-in-htm">
        <div class="group">
          <label th:for="email" class="label">Email</label>
          <label>
            <input type="email" name="email" class="input">
          </label>
        </div>
        <div class="group">
          <label th:for="password" class="label">Password</label>
          <input type="password" name="password" class="input" data-type="password">
        </div>
        <div class="group">
          <input id="check" type="checkbox" class="check" checked>
          <label for="check"><span class="icon"></span> Keep me Signed in</label>
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign In">
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="#forgot">Forgot Password?</a>
        </div>
      </div>
      </form>
      <form th:action="@{/sign}" role = "form" method="post" th:object="${memberFormDto}">
        <div class="sign-up-htm">
          <div class="group">
            <label th:for="name" class="label">이름</label>
            <input type="text" th:field="*{name} "class="input" placeholder="이름 입력" >
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect data</p>
          </div>
          <div class="group">
            <label th:for="email" class="label">Email</label>
            <input type="email" th:field="*{email} "class="input"placeholder="email 입력">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect data</p>
          </div>
          <div class="group">
            <label th:for="password" class="label">Password</label>
            <input type="password" th:field="*{password} "class="input" placeholder="비밀번호 입력" >
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect data</p>
          </div>
          <div class="group">
            <label th:for="address" class="label">주소</label>
            <input th:field="*{address}" type="text" class="input" placeholder="주소 입력">
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="fieldError">Incorrect data</p>
          </div>
          <div class="group">
            <label th:for="phone" class="label">연락처</label>
            <input th:field="*{phone}" type="text" class="input" placeholder="연락처 입력">
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="fieldError">Incorrect data</p>
          </div>
          <div class="group">
            <input type="submit" class="button" value="Submit">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>